.todo_list_container{
  width:100%;
  height:auto;
  /* background: #f3f4fd; */
}
.todo_form_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
}
.todo_result_wrapper {
  max-width:600px;
  margin:45px auto;
  display: flex;
  flex-wrap:wrap;
  background: #fff;
  /* border:1px solid #dfffff; */
  justify-content: space-around;
  padding: 30px 10px;
}

@media screen and (max-width: 700px) {
  .todo_form_wrapper {
    padding-top: 30px;
  }
}
